:root {
  --black: black;
  --white: white;

  --primary-soft-blue: hsl(231, 69%, 60%);
  --primary-soft-red: hsl(0, 94%, 66%);

  --neutral-greyish-blue: hsl(229, 8%, 60%);
  --neutral-dark-blue: hsl(229, 31%, 21%);

  --default-font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--black);
  background: var(--white);
  line-height: 1.6;
  font-family: 'Rubik', sans-serif;
  font-size: var(--default-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
